<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../../public/media/favicon.jpg">
    <title>RubenWarehouse!</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../public/css/style.css">
</head>
<body>
    <header class="main__header">
        <nav class="main__header__nav">

            <ul class="main__header--links">
                <li>            <a class="navbar-brand" href="">
                    <img src="../../public/media/store.png" alt="RubenWarehouse shop" width="50" height="50"></a></li>
                <li><a href="index.html" class="nav-link active ">Home</a></li>
                <li><a href="" class="nav-link active dropdown-toggle "
                    id="categoriesDrop" role="button" data-bs-toggle="dropdown" aria-expanded="false"
                    >Categories</a>
                    <ul class="dropdown-menu" aria-labelledby="categoriesDrop">
                        <li><a class="dropdown-item" href="#">Clothing</a></li>
                        <li><a class="dropdown-item" href="#">Tech</a></li>
                        <li><a class="dropdown-item" href="#">Food</a></li>
                      </ul>
                </li>   
                <li><a href="auth.html" class="nav-link active ">Log In</a></li>
            </ul>
        </nav>
    </header>
    <main class="main__container">
        <h3 style="text-align: center;">Flash Discount!</h3>
        <section class="contentS">
            <figure>
                <img src="../../public/media/exprimidor.jpg" alt="Orange squeezer">
                <figcaption>Exprimidor de Naranjas ultima generacion</figcaption>
            </figure>
            <figure>
                <img src="../../public/media/sudadera.jpg" alt="Jumper">
                <figcaption>Sudadera azul de alta calidad</figcaption>
            </figure>
            <figure>
                <img src="../../public/media/xps.jpg" alt="Dell XPS">
                <figcaption>Ultimo modelo XPS15 2022</figcaption>
            </figure>
            <figure>
                <img src="../../public/media/chibianime.jpg" alt="Anime Chibi nezuko">
                <figcaption>Figurita anime Nezuko:Guardianes de la noche</figcaption>
            </figure>
            <figure>
                <img src="../../public/media/iphone13.jpg" alt="Iphone 13">
                <figcaption>Ultimo Iphone 13 de Apple</figcaption>
            </figure>
            <figure>
                <img src="../../public/media/pilares.jpg" alt="Pilares de la tierra, libro">
                <figcaption>Los pilares de la tierra: Ken Follett</figcaption>
            </figure>
        </section>
        <aside>
            <figure>
                <img src="../../public/media/appleAdd.gif" alt="Apple ad" width="400px" height="200px">
            </figure>
        </aside>
    </main>
    <footer>

    </footer>
</body>
</html>